<form class="col-md-4" name="form">
    <div class="form-item" id="form-item-goal">
        <label for="goal">What's your fundraising goal? </label>
        <div class="input-group margin-bottom-sm">
            <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
            <input id="goal" class="form-control" type="number" placeholder="Goal" name="size">
        </div>
    </div>

    <div class="form-item" id="form-item-participants">
        <label for="participants">How big is the group? </label>
        <div class="input-group margin-bottom-sm">
            <span class="input-group-addon"><i class="fa fa-users"></i></span>
            <input id="participants" class="form-control" type="number" placeholder="Number of participants" name="size">
        </div>
    </div>
</form>


<div class="col-md-8 results">
</div>